body {
  background-color: #282828;
}

.container {
  margin: 20px 0;
  width: 100%;
  height: 100%;
}
.media-control {
  background-color: #fbf1c7;
  height: 600px;
  line-height: 600px;
  white-space: nowrap;
  width: 600px;
  margin: 50 auto;
  text-align: center;
  font-size: 100px;
  border: 1px solid black;
  cursor: pointer;
}

img {
  border: 1px solid green;
}

#play-pause {
  letter-spacing: -8px;
}