body {
  background-color: #282828;
  touch-action: manipulation;
}

.container {
  margin: 20px 0;
  width: 100%;
  height: 100%;
}
.media-control {
  box-sizing: border-box;
  background-color: #d79921;
  height: 600px;
  width: 600px;
  margin: 50 auto;
  padding: 10px;
  cursor: pointer;
}

.highlight {
  padding: 30px;
  transform: scale(0.9);
  transition: 0.30s all ease;
}